.product-carousel {
  position: relative;
  width: 100%;
  height: 700px;
  /* overflow: hidden; */
  display: flex;
  align-items: flex-start;
  padding-left: 30rem;
  padding-top: 2rem;
}

.product-carousel-inner {
  display: flex;
  position: relative;
  height: 100%;
}

.product-card {
  position: absolute;
  width: 450px;
  height: 600px;
  text-align: center;
  background: rgba(27, 48, 3, 0.5);
  border-radius: 20px;
  padding: 20px;
  transition: 0.5s;
  left: calc(50% - 110px);
  top: 0;
}

.product-card img {
  width: 100%;
  max-height: 200px; /* Adjust as needed */
  object-fit: contain;
  margin-bottom: 10px;
}

.product-card h4 {
  font-size: 2rem;
  color: var(--text-background);
}
.product-card h5 {
  font-size: 1.5rem;
}

.product-card p {
  font-size: 1rem;
  color: var(--text-background);
  text-align: start;
}

.product-carousel-control {
  position: absolute;
  top: 40%;
  color: var(--primary-golden);
  background-color: transparent;
  border: none;
  font-size: xxx-large;
  font-family: monospace;
  font-weight: bold;
  left: 400px;
}

.product-carousel-control.next {
  left: unset;
  right: 1000px;
}

.product-carousel-control.prev {
  left: 250px;
  right: unset;
}

.product-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 35%;
  transform: translateX(-50%);
  display: flex;
}

.indicator-item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: var(--secondary-green);
  margin: 0 5px;
  border: none;
  cursor: pointer;
}

.indicator-item.active {
  background: var(--text-background);
}

.service-intro {
  font-weight: bold;
  margin-bottom: 1.1rem;
}
@media (max-width: 1535px) {
    .product-carousel-control.next {
      left: unset;
      right: 820px;
    }
    .product-carousel {
      position: relative;
      width: 100%;
      height: 700px;
      display: flex;
      align-items: flex-start;
      padding-left: 25rem;
      padding-top: 2rem;
    }
  
    .product-card {
      width: 400px;
      height: 580px;
    }
  
    .product-card h4 {
      font-size: 1.8rem;
    }
    .product-card h5 {
      font-size: 1.3rem;
    }
  
    .product-card p {
      font-size: 0.9rem;
    }
  
    .product-carousel-indicators {
      bottom: 40px;
      left: 30%;
    }
  }
  


@media (min-width: 769px) and (max-width: 1024px) {
  .product-carousel {
    padding-left: 0;
    min-height: 100dvh;
    height: 100%;
    justify-content: center;
  }
  .product-carousel-inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
  }

  .product-card {
    width: 30rem;
    height: 100%;
    position: relative;
    left: unset;
    top: unset;
    margin-top: 20px;
  }

  .product-card h4 {
    font-size: 1.8rem;
  }
  .product-card h5 {
    font-size: 1.5rem;
    color: var(--recommended-light-golden);
    text-shadow: 0 0 2px #2b4802, 1px 1px 4px #000000;
  }

  .product-card p {
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
  }
}
@media (max-width: 768px) {
    .product-carousel {
      padding-left: 0;
      min-height: 100dvh;
      height: 100%;
      justify-content: center;
    }
    .product-carousel-inner {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 100dvh;
    }
  
    .product-card {
      width: 22rem;
      height: 100%;
      position: relative;
      left: unset;
      top: unset;
      margin-top: 20px;
    }
  
    .product-card h4 {
      font-size: 1.8rem;
    }
    .product-card h5 {
      font-size: 1.5rem;
      color: var(--recommended-light-golden);
      text-shadow: 0 0 2px #2b4802, 1px 1px 4px #000000;
    }
  
    .product-card p {
      font-size: 1rem;
      line-height: 1.5;
      font-weight: 600;
    }
  
    .service-intro {
      margin-top: 20px;
      color: var(--golden-intro) !important;
      font-size: 1.2rem !important;
    }
  }