
.instructors-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100vh; */
  position: relative;
  flex-direction: row;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.instructors-intro {
    color: var(--primary-golden);
    font-size: 2.5rem;
    font-weight: 500;
    text-shadow: rgba(14, 23, 1, 0.865) 2px 2px 2px;
}

.peter-wright {
    color: var(--text-background);
    font-size: 2.5rem;
    text-shadow: rgba(213, 227, 24, 0.632) 2px 2px 2px;
    
}

.instructors-showdown {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: flex-start;
    padding-top: 10rem;
    padding-left: 2.5rem;
    width: 50vw;

}

.instructor-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 1rem;
    gap: 1rem;
    /* width: calc(25% - 2rem); */
    
}
.instructor-card img {
    width: auto;
    height: 266.67px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;

}

.instructor-card img:hover {
    transform: scale(1.1);
    box-shadow: rgba(163, 184, 24, 0.427) 2px 5px ;
}

.instructor-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    min-height: 100vh;
    width: 50vw;
    background: rgba(37, 59, 2, 0.164);
}
.details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-background);
    width: 48vw;
    border-radius: 5%;
    padding: 1rem;
    margin-bottom: 10rem;
    margin-top: 10rem;
}
.instructor-image {
    padding:0.2rem;
}
.instructor-image img {
    width: auto;
    height: 36rem;
    border-radius: 10px;
}

.instructor-active-image.active {
    display: block;

}

.instructor-info {
    color: var(--primary-green);

    width: 600px;
    font-size: 1.5rem;
    text-align: start;
    text-shadow: rgba(193, 249, 63, 0.409) 2px 2px 2px;
}

.instructor-name {
    font-weight: 600;
    font-size: 2rem;
}

.instructor-intro {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--secondary-golden);
}

@media (max-width: 1536px) {

    .details-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--text-background);
        width: 45vw;
        border-radius: 5%;
        padding: 1rem;
        margin-bottom: 10rem;
        margin-top: 10rem;
    }
    .instructor-image img {
        width: auto;
        height: 30rem;
        border-radius: 10px;
    }
    
    .instructor-active-image.active {
        display: block;
    
    }
    
    .instructor-info {
        color: var(--primary-green);
    
        width: 600px;
        font-size: 1.3rem;
        text-align: start;
        text-shadow: rgba(193, 249, 63, 0.409) 2px 2px 2px;
    }
    
    .instructor-name {
        font-weight: 600;
        font-size: 1.8rem;
    }
    
    .instructor-intro {
        font-weight: 500;
        font-size: 1.6rem;
        color: var(--secondary-golden);
    }
}

