@import "../../App.css";

.section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2.5rem;
  position: relative;
}

.bounce {
  font-size: 8rem;
  animation: bounce 1s infinite;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0) translateZ();
  }
  50% {
    transform: translateY(-10px);
  }
}

/* .scroll-html-wrapper {
  position: relative !important;
  transform: none !important;
  top: auto !important;
  left: auto !important;
} */

.intro {
  color: var(--primary-golden);
  font-size: 2rem;
  width: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 15rem;
  padding-left: 10rem;
  padding-bottom: 75rem;
}

.left-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 50vw;
  padding-left: 2rem;
}

.right-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50vw;
  position: relative;
}
.left-intro .company_name {
  font-weight: 600;
  font-size: 6rem;
  transition: all 0.3s ease-in-out;
  text-shadow: rgba(213, 227, 24, 0.632) 0px 5px 15px;
}

.company-mean {
  position: relative;
  cursor: pointer;
}
.left-intro .company-mean:hover .company_hidden {
  transform: scale(1.1);
  text-shadow: rgba(213, 227, 24, 0.632) 0px 2px 5px;
  opacity: 1;
}

.left-intro .company-mean:hover .company_name {
  opacity: 0;
}

.company_hidden {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.2); */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  color: var(--text-background);
}

.right-intro .main_name {
  font-size: 4rem;
  font-weight: 600;
  width: 100%;
  text-align: end;
  padding-right: 20rem;
  position: relative;
  transition: all 0.5s ease-in-out;
  color: var(--primary-golden);
  /* margin-top: -5px
  ; */
}
.main_name.english2 {
  position: absolute;
  right: 50px;
  top: 80px;
}
.main_name.camping {
  position: absolute;
  right: 100px;
  top: 160px;
  color: var(--golden-intro);
}
.main_name.study {
  position: absolute;
  right: 150px;
  top: 240px;
  color: var(--green-intro);
}

.main_name:hover {
  transform: scale(1.1);
  text-shadow: rgba(213, 227, 24, 0.632) 0px 5px 15px;
}
.quote-container {
  position: relative;
  width: 100%;
}
.journey-quote {
  font-weight: 600;
  font-size: 4rem;
  width: 500px;
  color: var(--text-background);
  padding-left: 30px;
  color: var(--text-background);
}

.journey-quote.the {
  position: absolute;
  top: 90px;
  left: 50px;
}

.journey-quote.dot {
  position: absolute;
  top: 100px;
  left: 100px;
  color: var(--green-intro);
  /* -webkit-background-clip: text; */
  /* -webkit-text-fill-color: transparent; */
  transition: all 0.3s ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.632) 2px 2px 2px;
}

.dot-info:hover .dot-hidden {
  transform: scale(1.1);
  text-shadow: rgba(0, 0, 0, 1) 0px 5px 5px;
  opacity: 1;
}

.dot-info:hover .dot {
  opacity: 0;
}

.dot-info {
  position: relative;
  cursor: pointer;
}

.journey-quote.dot-hidden {
  position: absolute;
  top: 180px;
  left: 100px;
  width: 500px;
  height: 100%;
  /* background: rgba(0, 0, 0, 0.2); */
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 400;
  color: var(--text-background);
  text-shadow: rgba(0, 0, 0, 1) 2px 2px 2px;
  font-weight: 500;
}

.feedback {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 3rem;
  padding-top: 10rem;
}

.bubble-feedback-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-left: 3rem;
  padding-top: 3rem;
  height: 100%;
}
.bubbles {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 600px;
  font-size: 3rem;
  font-weight: 600;
  width: 900px;
  color: var(--primary-golden);
}

.bubble {
  /* position: absolute; */
  background: url("../../assets/images/bubble_feedback_1.png");
  background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s ease-in-out;
  height: 180px;
  width: 180px;
}

.bubbles :nth-child(1) {
  background-size: auto 70%;
  position: absolute;
  top: 11%;
  left: -35%;
}
.bubbles :nth-child(2) {
  background-size: auto 50%;
  position: absolute;
  top: 35%;
  left: -25%;
}

.bubbles :nth-child(3) {
  background-size: auto 100%;
  position: absolute;
  top: 50%;
  left: 35%;
}
.bubbles :nth-child(4) {
  background-size: auto 120%;
  position: absolute;
  top: 13%;
  left: 5%;
}
.bubbles :nth-child(5) {
  background-size: auto 90%;
  position: absolute;
  top: 70%;
  left: -15%;
}
.bubbles :nth-child(6) {
  background-size: auto 80%;
  position: absolute;
  top: 80%;
  left: 20%;
}
.bubbles :nth-child(7) {
  background-size: auto 60%;
  position: absolute;
  top: 90%;
  left: 50%;
}
.bubbles :nth-child(8) {
  background-size: auto 50%;
  position: absolute;
  top: 3%;
  left: 50%;
}

.bubble.active {
  transform: scale(1.1);
  filter: hue-rotate(180deg);
}

.bubble-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.bubble-content p {
  font-size: 1.5rem;
  font-weight: 500;
}

.bubble-inner {
  background-color: rgba(90, 131, 24, 0.2);
  border-radius: 10%;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  transition: all 0.3s ease-in-out;
  width: 40rem;
}

.bubble-inner:hover {
  transform: scale(1.1);
}

.bubble-inner {
  display: none;
}
.bubble-inner.active {
  display: block;
  display: flex;
  justify-content: center;
}
.achievement {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 800px;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  margin-top: 20rem;
  padding-left: 5rem;
  margin-bottom: 10rem;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: auto;
  gap: 8px;
  padding-left: 25rem;
}

.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  left: 60%;
  width: 18px;
  height: 100%;
  background: repeating-linear-gradient(
    0deg,
    var(--primary-green),
    var(--primary-green) 50px,
    var(--primary-golden) 70px,
    var(--primary-golden) 100px
  );
  transform: translateX(-50%);
  z-index: 0;
}

.timeline-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  white-space: normal;
}

.timeline-item:nth-child(even) {
  transform: translateX(-60px);
  /* Moves even items downward */
}

.timeline-item:nth-child(odd) {
  transform: translateX(60px); /* Moves odd items upward */
}

.content {
  padding: 8px 8px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  max-width: 300px;
  width: 280px;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px solid var(--primary-golden);
  background-color: beige;

  overflow-x: hidden;
}

.timeline-item:nth-child(even) .content {
  transform: translateX(-110%); /* Move to the left */
}

.timeline-item:nth-child(odd) .content {
  transform: translateX(10%); /* Move slightly to the right */
}

.content:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.content h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
  color: #8b4513;
}

.content p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #006400;
  font-weight: 500;
}

.service {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 5rem;
  padding-top: 10rem;
}

.purpose {
  color: var(--primary-golden);
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  /* padding-top: 5rem; */
  padding-left: 5rem;
  font-size: 3rem;

}

.purpose-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-left: 20rem;
  position: relative;
  font-family: "Charm", cursive;
  padding-top: 5rem;
}

.page1-text {
  position: absolute;
  top: 8%;
  left: 20%;
  color: var(--secondary-green);
  line-height: 1.5;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  font-weight: 700;
  font-style: normal;
  z-index: -1;
}
.back-page {
  display: none;
}
.page1-text h3 {
  font-size: 4.8rem;
}

.page1-text h2 {
  font-size: 7rem;
  color: var(--primary-green);
}

.page2-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 50px 30px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page3-text {
  position: absolute;
  top: 8%;
  left: 20%;
  color: var(--secondary-green);
  line-height: 1.5;
  text-align: center;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  font-weight: 700;
  font-style: normal;
  z-index: -1;
}

.page3-text h3 {
  font-size: 4.8rem;
}

.page4-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
.page5-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page6-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.5rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page7-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page8-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page9-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page10-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.3rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page11-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.page12-text {
  color: var(--secondary-green);
  font-weight: 700;
  font-size: 1.2rem;
  padding: 20px;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}
input[type="checkbox"] {
  display: none;
}

h1 {
  margin: 0;
}
#page1 ~ .pages div.page1 {
  -webkit-transform: rotateY(-34deg);
  -moz-transform: rotateY(-34deg);
  transform: rotateY(-34deg);
}

#page1:checked ~ .pages div.page1 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page2 ~ .pages div.page2 {
  -webkit-transform: rotateY(-32deg);
  -moz-transform: rotateY(-32deg);
  transform: rotateY(-32deg);
}

#page2:checked ~ .pages div.page2 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page3 ~ .pages div.page3 {
  -webkit-transform: rotateY(-30deg);
  -moz-transform: rotateY(-30deg);
  transform: rotateY(-30deg);
}

#page3:checked ~ .pages div.page3 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page4 ~ .pages div.page4 {
  -webkit-transform: rotateY(-28deg);
  -moz-transform: rotateY(-28deg);
  transform: rotateY(-28deg);
}

#page4:checked ~ .pages div.page4 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page5 ~ .pages div.page5 {
  -webkit-transform: rotateY(-26deg);
  -moz-transform: rotateY(-26deg);
  transform: rotateY(-26deg);
}

#page5:checked ~ .pages div.page5 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page6 ~ .pages div.page6 {
  -webkit-transform: rotateY(-24deg);
  -moz-transform: rotateY(-24deg);
  transform: rotateY(-24deg);
}

#page6:checked ~ .pages div.page6 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page7 ~ .pages div.page7 {
  -webkit-transform: rotateY(-22deg);
  -moz-transform: rotateY(-22deg);
  transform: rotateY(-22deg);
}

#page7:checked ~ .pages div.page7 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page8 ~ .pages div.page8 {
  -webkit-transform: rotateY(-20deg);
  -moz-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

#page8:checked ~ .pages div.page8 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page9 ~ .pages div.page9 {
  -webkit-transform: rotateY(-18deg);
  -moz-transform: rotateY(-18deg);
  transform: rotateY(-18deg);
}

#page9:checked ~ .pages div.page9 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page10 ~ .pages div.page10 {
  -webkit-transform: rotateY(-16deg);
  -moz-transform: rotateY(-16deg);
  transform: rotateY(-16deg);
}

#page10:checked ~ .pages div.page10 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page11 ~ .pages div.page11 {
  -webkit-transform: rotateY(-14deg);
  -moz-transform: rotateY(-14deg);
  transform: rotateY(-14deg);
}

#page11:checked ~ .pages div.page11 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

#page12 ~ .pages div.page12 {
  -webkit-transform: rotateY(-12deg);
  -moz-transform: rotateY(-12deg);
  transform: rotateY(-12deg);
}

#page12:checked ~ .pages div.page12 {
  -webkit-transform: rotateY(-140deg);
  -moz-transform: rotateY(-140deg);
  transform: rotateY(-140deg);
}

.book {
  position: relative;
  width: 360px;
  height: 480px;
  margin-left: 180px;
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.book .pages,
.book .pages > div {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.book .pages {
  width: 100%;
  height: 98%;
  top: 1%;
  left: 3%;
  z-index: 10;
}
.book .pages > div {
  width: 100%;
  height: 100%;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition-property: transform;
  -moz-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease;
  -moz-transition-timing-function: ease;
  transition-timing-function: ease;

  /* background: -webkit-linear-gradient(
      left,
      var(--primary-golden) 100%,
      #e7d259 100%
    );
    background: -moz-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: -ms-linear-gradient(left, #e1ddd8 0%, #fffbf6 100%);
    background: linear-gradient(left, #e1ddd8 0%, #fffbf6 100%); */
  background-color: var(--text-background);
  box-shadow: inset 0px -1px 2px rgba(50, 50, 50, 1),
    inset -1px 0px 1px rgba(150, 150, 150, 0.2);
  border-radius: 0px 5px 5px 0px;
  -webkit-transition-duration: 1s;
}
.book .pages > div:hover {
  box-shadow: inset 1px 0px 2px rgba(50, 50, 50, 0.1),
    inset -3px 1px 1px rgba(150, 150, 150, 0.2);
}
.book .pages > div label {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  vertical-align: middel;
}
.ending-tag {
  padding-top: 40px;
  font-size: 0.9rem;
  text-align: end;
  color: var(--primary-red);
}

.material-symbols-outlined {
  color: var(--secondary-green);
  font-size: 2.5rem;
  position: absolute;
  bottom: 1.5%;
  right: 3%;
  z-index: -1;
}

.founder {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding-left: 5rem;
  padding-top: 5rem;
  margin-bottom: 5rem;
}

.founder_card {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
  background-color: var(--text-background);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin: 20px;
  max-width: 1200px;
  /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

.founder_card img {
  width: 20rem;
  height: 30rem;
  object-fit: cover;
  border-radius: 10px;
  padding-right: 10px;
}

.founder_info {
  flex: 1;
  width: 800px;
}

.founder_name h2 {
  margin: 0;
  font-size: 0.8em;
  font-weight: bold;
  color: var(--secondary-green);
}

.founder_history p {
  margin: 8px 0;
  color: var(--primary-green);
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 500;
}
.founder_button {
  position: relative;
  right: 10px;
  bottom: 10px;
  display: flex;
  justify-content: flex-end;
}
.founder_button img {
  width: 180px;
  height: 80px;
  object-fit: fill;
}

.founder_button p {
  position: absolute;
  font-size: 1.1rem;
  color: var(--secondary-green);
  top: 38%;
  right: 7%;
  font-weight: 600;
}

.founder_button p:hover {
  color: var(--primary-golden);
}

.story {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 3rem;
  padding-left: 5rem;

}

.tab-container {
  width: 1000px;
  margin: 30px;
  position: relative;
}

.tab-buttons {
  display: flex;
}

.tab-button {
  flex: 1;
  padding: 10px 15px;
  text-align: center;
  background-color: #46980333;
  border: 1px solid var(--primary-golden);
  cursor: pointer;
  font-size: 2rem;
  color: var(--primary-golden);
  border-radius: 5px;
  font-weight: 600;
}

.tab-button.active {
  background-color: var(--primary-golden);
  color: var(--primary-green);
}

.tab-content {
  padding: 20px;
  border-top: none;
  width: auto;
  height: auto;
  position: relative;
}

.tab-panel {
  display: none;
}

.tab-panel.active {
  display: block;
}

.card-tab-container {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  justify-content: center;
}

.card-tab-buttons {
  display: flex;
  justify-content: space-around;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 20px;

  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--text-background);
  border-radius: 10px;
}

.flip-card-front {
  font-weight: 600;
  color: var(--secondary-golden);
}
.flip-card-back {
  background-color: var(--text-background);
  transform: rotateY(180deg);
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  justify-content: start;
  margin: 10px;
}

.flip-card-back ul {
  list-style: none;
  line-height: 1.4;
  color: var(--secondary-golden);
  margin: 5px;
}

.flip-card-back p {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-green);
  margin: 10px;
}
.human {
  color: var(--primary-golden);
  font-size: 3rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-left: 7rem;
  margin-top: 15rem;
  background: rgba(54, 78, 1, 0.18);
  width: 90rem;
  height: 100%;
  /* margin-bottom: 10rem; */
}

.human-card-container {
  display: flex;
  justify-content: center;
  gap: 70px;
  padding: 10px;
  width: 1000px;
  flex-wrap: wrap;
}

.human-card {
  /* flex: 1 1 calc(33.33% - 20px);  */
  /* max-width: 130px; */

  width: 300px;
  height: 400px;
  background: var(--primary-golden);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.human-card:hover {
  transform: scale(1.05);
}

.human-card-avatar {
  position: relative;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.human-card-avatar img {
  width: 300px;
  height: 400px;
}

.human-card-info {
  opacity: 0;
  width: 300px;
  height: 400px;
  transform: translateY(-20px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  font-size: 0.9rem;
  font-weight: 500;
  position: absolute;
  border-radius: 5px;
  background-color: beige;
  color: var(--primary-green);
  text-align: start;
  padding: 15px;
  z-index: 1;
}

.human-card:hover .human-card-info {
  opacity: 1;
  transform: translateY(0);
}

.human-card:hover .human-card-avatar {
  opacity: 0;
}

.human-intro {
  width: 80rem;
  height: 100%;
}
.human h5 {
  font-size: 2rem;
  text-shadow: rgb(0, 0, 0) 2px 2px 2px;
  color: var(--text-background);
  margin-top: 1rem;
}

.human p {
  font-size: 2rem;
  padding-left: 3rem;
  width: 50rem;
  text-shadow: rgba(19, 20, 0, 0.779) 2px 2px 2px;
  font-weight: 500;
}

.human ul {
  list-style: none;
  font-size: 1.6rem;
  width: 50rem;
  font-weight: 600;
  color: var(--golden-intro);
}

.human li {
  padding-left: 6rem;
}

.human-slider {
  width: 100%;
  margin-top: 1.5rem;
}

.human-slider p {
  text-decoration: underline;
  font-size: 1.7rem;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.human-slider p:hover {
  transform: scaleY(1.05);
  text-shadow: rgba(213, 227, 24, 0.632) 2px 2px 2px;
}

.banner-footer {
  color: var(--primary-golden);
  font-size: 2rem;
  width: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding-top: 3rem;
}

.footer-first-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 7rem;
  padding-left: 10rem;
}

.footer-first-content .company-mean:hover .company_name {
  opacity: 1;
}

.footer-first-content .dot-info:hover .dot {
  opacity: 1;
}

@media (max-width: 1535px) {
  .feedback {
    font-size: 2rem;
  }
  .bubble-feedback-container {
    padding-left: 1rem;
  }
  .bubble-inner {
    width: 30rem;
  }
  .bubbles :nth-child(1) {
    background-size: auto 60%;
    left: -45%;
  }
  .bubbles :nth-child(2) {
    background-size: auto 40%;
    left: -35%;
  }

  .bubbles :nth-child(3) {
    background-size: auto 90%;
    left: 25%;
  }
  .bubbles :nth-child(4) {
    background-size: auto 110%;
    left: -5%;
  }
  .bubbles :nth-child(5) {
    background-size: auto 80%;
    top: 60%;
    left: -25%;
  }
  .bubbles :nth-child(6) {
    background-size: auto 70%;
    top: 70%;
    left: 10%;
  }
  .bubbles :nth-child(7) {
    background-size: auto 50%;
    top: 50%;
    left: -0%;
  }
  .bubbles :nth-child(8) {
    background-size: auto 50%;
    position: absolute;
    top: 30%;
    left: 30%;
  }
  .achievement {
    font-size: 2rem;
  }
  .service {
    font-size: 2rem;
  }
  .purpose {
    font-size: 2rem;
    padding-bottom: 5rem;
  }
  .story {
    font-size: 2rem;
    padding-bottom: 10rem;
  }
  .founder {
    font-size: 2rem;
  }
  .founder_card {
    gap: 10px;
    margin: 20px;
    max-width: 1000px;
  }
  
  .founder_card img {
    width: auto;
  }
  
  .founder_info {
    width: 100%;
  }
  
  .founder_name h2 {
    font-size: 0.7em;
  }
  
  .founder_history p {
    font-size: 0.9rem;
    font-weight: 600;
  }
  .founder_button img {
    width: 180px;
    height: 70px;
  }
  
  .founder_button p {
    right: 9%;
  }
  .human {
    font-size: 2rem;
  }
  
  .human h5 {
    font-size: 1.6rem;
  }
  
  .human p {
    font-size: 1.8rem;
  }
  
  .human ul {
    list-style: none;
    font-size: 1.4rem;
  }
  .footer-first-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 12rem;
    padding-left: 10rem;
  }
}
