.chat-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    /* padding: 20px; */
    width: 30rem;
    max-width: 40rem;
    /* margin: auto; */
    height: 47rem;
}

.chat-header {
    margin-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.chat-avatar-large {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.chat-container {
    padding: 20px;
    max-width: 400px;
    /* margin: auto; */
    display: flex;
    flex-direction: column;
    
    gap: 8px;
}

.chat-bubble {
    width: 25rem;
    padding: 10px 15px;
    border-radius: 20px;
    margin: 5px 0;
    word-wrap: break-word;
    font-size: 1.4rem;
    font-weight: 500;
}


.sender {
    background-color: var(--text-background);
    align-self: flex-end;
    color: var(--secondary-green);
}

.sender-name {
    font-style: italic;
    font-size: 1rem;
    font-weight: 400 !important;
    font-size: 1.2rem !important;
}

.receiver {
    background-color: var(--primary-green);
    align-self: flex-start;
    color: var(--text-background);
}
