.flipcard-human {
  display: flex;
  flex-wrap: wrap;        
  gap: 20px;               
  justify-content: center; 
  padding: 20px;
}

.flip-card-human {
  width: 525px;
  height: 700px;
  perspective: 1000px;
  cursor: pointer;
}

.flip-card-inner-human {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-human.flipped .flip-card-inner-human {
  transform: rotateY(180deg);
}

.flip-card-front-human,
.flip-card-back-human {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
}

.flip-card-front-human img {
  width: 525px;
  height: 700px;
  object-fit: cover;
}

.flip-card-back-human {
  background: var(--text-background);
  padding: 16px;
  transform: rotateY(180deg);
}
.flip-card-back-human h3 {
    font-size: 2rem;
    text-align: center;
    color: var(--secondary-green);
    text-transform: uppercase;
}

.flip-card-back-human h4 {
    font-size: 1.5rem;
    text-align: center;
    color: var(--primary-green);
    margin-top: 0.2rem;
}

.flip-card-back-human ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    margin-top: 0.5rem;
    color: var(--secondary-golden);
    font-weight: 600;
    margin-left: 0.5rem;
    line-height: 1.4;
}
@media (max-width:1025px) {
    .flip-card-human {
        width: 300px;
        height: 400px;
    }
    .flip-card-front-human img {
        width: 300px;
        height: 400px;
    }
}
 @media (max-width: 768px) {
    .flip-card-human {
        width: 280px;
        height: 373.33px;
    }
    .flip-card-front-human img {
        width: 280px;
        height: 373.33px;
    }
    .flip-card-back-human h3,
    .flip-card-back-human h4 {
        font-size: 1rem;
    }
    .flip-card-back-human ul {
        font-size: 0.7rem;
    }
}