.instructors_container {
    position: relative;
    padding: 0;
    margin: 0;
    min-height: 100dvh;
    width: 100dvw;
}

.instructors_header {
    color: var(--primary-golden);
    font-size: 4.5rem;
    margin-top: 5rem;
    margin-left: 5rem;
}

.instructors_showdow_list {
    position: relative;
    display: grid;
    /* justify-content: space-evenly; */
    /* flex-wrap: wrap;
    align-items: center; */
    margin: 2rem 5rem;
    width: 90%;

}
/* .instructors_showdow_list img {
    width: 300px;
    height: auto;
    margin-top: 1rem;
    border-radius: 5%;
    border: solid 2px var(--text-background);
} */