@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Charm:wght@400;700&family=Dancing+Script&family=Montserrat:ital,wght@0,700;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  user-select: none;
  /* overflow-y: hidden; */
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* background: linear-gradient(0deg,  #EAD7B8, #F3DFC4, #FCEED9),url("../assets/images/sun_glow_bg_1.png"); */
  background-blend-mode: soft-light;
  /* background: url("../assets/images/gradient-bg.svg"); */
  background: url("https://images7.alphacoders.com/138/thumb-1920-1381480.png"),
    url("../assets/images/sun_glow_bg_3.png");
  /* background-color: #014421; */
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center, center, center calc(100% + 400px);
  background-size: cover, 150% auto;
  color: black;
  font-family: "Montserrat", serif;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  overflow-x: hidden;
}
/* Customize the scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-background);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--primary-golden);
}

::-webkit-scrollbar-track {
  background-color: var(--primary-green);
}

.scrollable-content {
  height: 300px;
  overflow-y: auto;
  background-color: #101010;
  color: white;
  padding: 20px;
}

:root {
  --primary-golden: #fed653;
  --primary-green: #526d1b;
  --primary-red: #cf7535;

  --secondary-green: #3b5323;
  --secondary-golden: #4f3d02;

  --golden-intro: #faf2c4;
  --green-intro: #deff04;
  --text-background: #fff9d5;
/* recomended pallete */
    --recommended-dark-green: #0d3b17;
    --recommended-light-green: #c8ff01;
    --recommended-light-golden: #ffc400;
    --recommended-dark-golden: #905a01;
}

/* Arrow Animation */
.arrDown {
  animation: anime infinite 1.5s linear;
}

@keyframes anime {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-10px);
  }
}
.loading {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-green);
}

.simple-spinner {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.simple-spinner span {
  display: block;
  width: 30px;
  height: 30px;
  border: 3px solid transparent;
  border-radius: 50%;
  border-right-color: rgba(255, 255, 255, 0.7);
  animation: spinner-anime 0.8s linear infinite;
}

@keyframes spinner-anime {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  html {
    overflow: hidden;
  }
}
